/bin
/2012DB
/2013DB
/2014DB
/2015DB
/2016DB
/2017DB
/dbyears.csv
/regions.csv
/users.csv
/README.md
/2015DB
/2016DB
/EncryptedUsers.csv
/InventoryDB.csv
/WishCatalog.csv
/WishDetailDB.csv
/ApartmentDB.csv
*.xls
*.csv
/Server Logs
/PermanentDB
/oncdms.jks
/testfile.txt
/oncdms_old.jks
/testfile2.txt
/testfile3.txt
/2018DB/
/clothingtestfile.txt
/Untitled.txt
/Clothing SignUp Test Json.txt
