.modalDialog 
{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(5,5,5,0.4);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target 
{
	opacity:1;
	pointer-events: auto;
}
.inner 
{
	width: 296px;
	min-height: 100px;
	height: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close 
{
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
.modalDialog label
{
	float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    color: black;
    font-size: 85%;
}
.lbl_ep
{
    width: 6em;    
}
.inp_ep
{
	width: 180px;
}
.inp_profile
{
	width: 100px;
}
.lbl_pw
{
    width: 10em;
}
.inp_pw
{
	width: 120px;
}
.dialogtopbar
{	
	width: 100%;
   	height: 50px;
}
.logoimg
{
   	float:left; 
  	width: 50px;
  	height: auto;
  	margin-right: 8px;
}
.logospan
{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 8px;
}
#dialogmssg
{
	margin: 20px;
   	font-weight: bold;
   	font-style: italic;
   	font-size: 120%;
}    
#buttonbar
{
	width: 100%;
	margin: 0, auto;
	text-align: center;
}
#pw_mssg
{
	color: blue;
	font-style: italic;
	text-align: center;
}
.errorimg
{
	float: left;
	display: block;
	margin: 0px 10px 0px 0px;
}
.innerextended 
{
	width: 350px;
	min-height: 100px;
	height: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 10px 15px 10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.fieldset-auto-width
{
    display: inline-block;
}
.profilediv
{
	margin-bottom: 6px;
}
.greenbackground
{
  	background-color: #3CB371;
  	padding-bottom: 10px;
}
/* only styling below here */
table { border-collapse: collapse; }       
th 
{
	background-color: lightgrey;
	border: 1px solid gray;
    border-width: 1px;
}
td
{
	border: 1px solid gray;
	border-width: 1px; 
}
tr:first-child td { border-top-width: 0; }
tr:nth-child(odd) { background-color: #ffffff; }
tr:nth-child(even) { background-color: lightgrey; } 