/*
	ONC Dialog Style Sheet
*/
.modalDialog 
{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(5,5,5,0.4);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target 
{
	opacity:1;
	pointer-events: auto;
}
.inner 
{
	min-height: 100px;
	height: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.regular-width { width: 296px; }
.extended-width { width: 350px; }
.close 
{
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
.modalDialog label
{
	float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    color: black;
    font-size: 85%;
}
.dialogtopbar
{	
/*	width: 100%;	*/
   	height: 56px;
   	margin-top: 8px;
}
.logospan
{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
}
#dialogmssg
{
	margin: 20px;
   	font-weight: bold;
   	font-style: italic;
   	font-size: 120%;
}
.lbl_ep
{
    width: 6em;    
}
.inp_ep
{
	width: 180px;
}
.inp_profile
{
	width: 100px;
}
.lbl_pw
{
    width: 10em;
}
.inp_pw
{
	width: 120px;
}  
#buttonbar
{
	width: 100%;
	margin-top: 8px;
	text-align: center;
}
#pw_mssg
{
	color: blue;
	font-style: italic;
	text-align: center;
}
.errorimg
{
	float: left;
	display: block;
	margin: 0px 10px 0px 0px;
}
.edit-background
{
	background-color: #484e78;
  	padding: 2px 5px 10px 5px;
}
.edit-background input
{
  	padding: 4px 0px;
 	box-sizing: border-box;
 	margin-right: 10px;
 	font-size: 14px;
}
.edit-background label
{
	padding-top: 6px;
	font-size: 14px;
}
.edit-background p
{
	margin-top: 5px;
	margin-bottom: 0px;
}
#groupselect { margin-top: 5px;}
