body {background-color: white;}
.header 
{
	height: 70px;
	width: 90% ;
	margin: 0 auto;
	background-color: #484e78;
}
.header-links
{
	display: inline-block;
   	margin-top: 25px;   
}
.logo-img
{
	vertical-align: middle;
   	margin-top: -8px;
   	margin-left: 5px;
   	margin-right: 10px;
   	max-height: 55px;
   	max-width: 75px;
}
.breadcrumb-first
{
	color: white;
	font-size: 18px;
	text-decoration: none;
	font-style: italic;
}
label
{
	margin-top: 5px;
  	width: 5em;
  	float: left;
  	text-align: right;
  	margin-right: 0.5em;
  	display: block;
  	color: black;
}
input
{
	height: 24px;
  	color: black;
  	font-weight:bold;
  	background: #FFFFFF;
  	border: 1px solid #781351;
  	width: 224px;
  	font-size: 14px;
  	line-height: 18px;
}
button
{
  	display: block;
  	margin: 0px auto;
  	margin-top: 12px;
  	background-color: #484e78; /* was #336699; */
  	color: #ffffff;
  	border: 4px outset white;
  	width: 104px;
}
button:disabled { background-color: gray; }
/*
#submit
{
  	background-color: gray;
}
*/
#return
{
  	background-color: #336699;
}
fieldset
{
	margin: 0;
	position: absolute;            
	top: 55%; 
	left: 52%;                    
 	transform: translate(-50%, -50%); 
	border: 4px solid #781351;
  	color: #00F;
  	background-color: #E8E8E8;
  	width: 21em
}
legend
{
  	color: black;
  	background: #ffa20c;
  	border: 1px solid #781351;
  	padding: 2px 6px
}
/*    
@font-face
{
  	font-family: 'vanilla';
  	src: url('vanilla.ttf'); 
}
#header
{
	font-family:"vanilla" !important;
	font-size:40px !important;
   	color:#FFFFFF !important;
   	margin-top: 30px;
   	margin-left: 40px;
}
*/ 
#inner
{
/* 	margin-top: -20px;	*/
	height:600px;
	position: relative;
	background-image: url(oncsplash);
	background-repeat: no-repeat;
 	background-position: center;
}
.legend-major
{
 	padding: 0.2em 0.5em;
 	border:2px solid black;
 	background-color: #E5FFCC;
 	font-size:80%;
 	text-align:left;
 }
.linetwo
{
 	margin-top: 16px;
}
p 
{ 
	text-align: center;
	font-weight: bold;
	font-style: italic;
}