.topbar 
{
   	width: 90%;
   	min-width: 900px;
   	height:72px;
   	margin:0 auto;
   	background-color: #FF0000;
	border: 1px solid black;
}
.topbar img
{
   	float:left;
  	border: 0;
}
#topbar p
{
	text-align: center;
}
#banner
{
   	font-weight: bold;
   	font-style: italic;
   	font-size: 130%;
}
.controlbar
{
	width:90%;
	margin:0 auto;
	background-color: #3CB371;
	border: 1px solid black;
}
form
{
	width:90%;
	min-width: 900px;
	margin:0 auto;
	background-color: #3CB371;
	border: 1px solid black;
}
fieldset 
{
	background-color: #E8E8E8;
}
.legend-major
{
  	padding: 0.2em 0.5em;
  	border:2px solid black;
  	background-color: #E5FFCC;
  	font-size:80%;
  	text-align:left;
 }
button
{
    background-color: #336699;
    color: #ffffff;
}      
nav 
{
	width: 90%;
	min-width: 900px;
	margin-left: auto;
	margin-right:auto;
	background-color: #E5FFCC;		
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;			
	overflow: hidden;
}	
nav ul 
{
	margin: 0;
	padding: 0;
	display: inline-block;
}	
nav ul li 
{
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}		
nav > ul > li > a 
{
	color: black;
	display: block;
	line-height: 36px;
	padding: 0 24px;
	text-decoration: none;
}
nav > ul > li > a > .caret 
{
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
 	transition: color 0.1s linear; 
}
nav > ul > li:hover 
{
	background-color: rgb( 40, 44, 47 );
}
nav > ul > li:hover > a 
{
    color: rgb( 0, 204, 0 );
}
nav > ul > li:hover > a > .caret 
{
    border-top-color: rgb( 0, 204, 0 );
}
nav > ul > li > div 
{
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	z-index: 100;
	
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
nav > ul > li:hover > div 
{
	display: block;
	opacity: 1;
	visibility: visible;
}
nav > ul > li > div ul > li 
{
	display: block;
}
nav > ul > li > div ul > li > a 
{
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
nav > ul > li > div ul > li:hover > a 
{
	background-color: rgba( 255, 255, 255, 0.1);
}
.floatleft { float:left; }
.floatright { float:right; }		